out/artifacts/*
out/production/Splint/com/*
out/production/SplintGUI/*
out/production/Splint/packages/*
out/production/Splint/cache.db
out/production/Splint/preferences.json
out/production/SplintUpdate/*
dist/bin/*
almeida.com