out/artifacts/*
out/production/Splint/com/*
out/production/SplintGUI/*
out/production/Splint/packages/*
out/production/Splint/cache.db
out/production/Splint/preferences.json
out/production/SplintUpdate/com/*
dist/bin/*
almeida.com
out/production/SplintUpdate/modifiers/splint-sdk.zip
application/splints/francis94c/ci-paystack-app/
application/splints/francis94c/ci-paystack/
splint-assets/
